.modal-container {
  position: relative;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  z-index: 1000;
  letter-spacing: 1px;
  line-height: 1.5;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-button-container {
  width: 100%;
  text-align: center;
  transform: translateY(100%);
}

.modal-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  background: #f1f3f5;
  border: 1px solid #ffa726;
}
