.about-features-container {
  background-color: #f1f3f5;
  padding: 20px;
  margin-bottom: 20px;
}

.about-features-heading {
  color: #212529;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-feature {
  color: #212529;
  margin-bottom: 20px;
}

.about-feature-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.about-feature-description-container {
  padding: 10px;
}

.about-feature-description {
  color: #555;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
