.calculator-bmi-container {
  margin: 50px 20px;
  width: 23vw;
}

.calculator-bmi-intro {
  margin-bottom: 20px;
}

table {
  margin-top: 30px;
  width: 100%;
}

table,
td,
th {
  border: 1px #767676 solid;
  border-collapse: collapse;
}

td {
  padding: 2px 5px;
}

tr:nth-child(odd) {
  background: #fff1dc;
}

tr:first-child {
  background: #ffb951;
}

th {
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .calculator-bmi-container {
    width: auto;
  }
}