.myportal-dashboard {
  width: 20%;
  padding: 30px;
  background: #f1f3f5;
  color: #212529;
  display: block;
  position: relative;
}

.myportal-dashboard-links {
  list-style: none;
  margin-top: 20px;
  font-weight: 700;
}

.myportal-dashboard-links li:not(:first-child) {
  margin-top: 10px;
}

.myportal-dashboard-links a:visited {
  color: #212529;
}

.myportal-dashboard-selected {
  margin-left: 10px;
  transition: margin 0.2s;
}

.second-arrow {
  border: solid #212529;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.myportal-account-settings {
  color: #212529;
  position: absolute;
  bottom: 20px;
}

.myportal-account-settings-creditentials {
  cursor: pointer;
  padding: 5px;
}

.myportal-account-settings-logout {
  cursor: pointer;
  margin-top: 20px;
  padding: 5px;
}
