.myportal-account-change-credentials {
  width: 23vw;
  margin: 50px 20px;
}

.change-credentials-info {
  padding-bottom: 20px;
  position: relative;
}

.change-credentials-username-container {
  margin-bottom: 20px;
}

.change-credentials-info div {
  height: 25px;
}

.change-credentials-info div:nth-child(3) {
  margin-bottom: 20px;
}

.change-credentials-info div label {
  vertical-align: middle;
}

.change-credentials-info input {
  border-radius: 3px;
  border-color: #212529;
  color: #212529;
  height: 20px;
  padding: 5px;
  margin-left: 5px;
  position: absolute;
  left: 170px;
  height: 20px;
  margin-bottom: 10px;
}

.change-credentials-info p {
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.change-credentials-button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #212529;
  background: #ffb951;
  font-weight: 700;
  margin: 100px 15px 0 0;
}

.change-credentials-button:hover {
  animation: changecredentialsButton 0.2s forwards;
}

@keyframes changecredentialsButton {
  from {
    background: #ffb951;
    color: #212529;
  }
  to {
    background: #212529;
    color: #f1f3f5;
  }
}

.change-credentials-info div:last-child {
  letter-spacing: 2px;
  margin-top: 20px;
  color: #FF9494;
  font-size: 20px;
}