.about-container {
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.separator {
  border-top: 2px solid #dee2e6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected {
  border: 2px solid #ffa726;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
  .about-container {
    padding: 20px 20px 0 20px;
  }
  .about-prices-heading,
  .about-features-heading {
    font-size: 20px;
  }
  .about-prices-label,
  .about-prices-value {
    font-size: 16px;
  }
  .about-prices-container {
    margin: 0;
  }
  .about-features-container {
    margin: 0;
    padding: 0;
  }
  .about-prices-subheading {
    font-size: 18px;
  }
  .about-prices-description,
  .about-feature-description {
    font-size: 14px;
  }
}
