.myportal-page {
  display: flex;
  gap: 30px;
}

.myportal-dashboard {
  width: 20%;
  padding: 30px;
  background: #d11a2a;
  color: #f1f3f5;
  display: block;
  position: relative;
}

.myportal-dashboard-links {
  list-style: none;
  margin-top: 20px;
  font-weight: 700;
}

.myportal-dashboard-links li:not(:first-child) {
  margin-top: 10px;
}

.myportal-dashboard-links a:visited {
  color: #f1f3f5;
}

.myportal-dashboard-selected {
  color: #212529 !important;
}

.second-arrow {
  border: solid #f1f3f5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.outlet {
  display: block;
  background: #a9a9a9;
  width: 50%;
  padding: 30px;
  min-height: 600px;
  height: 90vh;
  position: relative;
}

.myportal-closeBtn {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  padding: 5px 10px;
  color: #212529;
}

.myportal-closeBtn:hover {
  animation: changeCloseBtnColor 0.2s forwards;
}

@keyframes changeCloseBtnColor {
  from {
    background: none;
  }
  to {
    background: #d11a2a;
  }
}

.myportal-outletName {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 20px 0 20px;
  padding: 5px;
  cursor: default;
  letter-spacing: 1px;
}

.hideBtn {
  display: none;
}

.myportal-logout {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
