.myportal-page {
  display: flex;
  gap: 30px;
  min-height: 600px;
}

.outlet {
  display: block;
  background: #a9a9a9;
  width: 50%;
  padding: 30px;
  height: 90vh;
  position: relative;
}

.myportal-closeBtn {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  padding: 5px 10px;
  color: #212529;
}

.myportal-closeBtn:hover {
  animation: changeCloseBtnColor 0.2s forwards;
}

@keyframes changeCloseBtnColor {
  from {
    background: none;
  }
  to {
    background: #d11a2a;
  }
}

.myportal-outletName {
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 20px 0 20px;
  padding: 5px;
  cursor: default;
  letter-spacing: 1px;
}

.hideBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .myportal-page {
    flex-direction: column;
  }
  .outlet {
    width: auto;
    height: auto;
    padding: 10px;
  }
}
