.store-single-product {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.single-product-container {
  display: flex;
}

.single-product-info-container {
  margin-left: 40px;
}

.single-product-img {
  width: 300px;
  mix-blend-mode: multiply;
  transition: transform 0.2s;
}

.single-product-img:hover {
  transform: scale(1.2);
}

.single-product-name,
.single-product-purchase {
  margin-top: 40px;
}

.single-product-taste,
.single-product-weight,
.single-product-price,
.single-product-caps {
  margin-top: 25px;
}

.single-product-purchase {
  padding: 10px 20px;
  background: #ffb951;
  color: #212529;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

.single-product-purchase:hover {
  animation: changePurchaseButton 0.2s forwards;
}

@keyframes changePurchaseButton {
  from {
    background: #ffb951;
    color: #212529;
  }
  to {
    background: #212529;
    color: #f1f3f5;
  }
}
