.store-page {
  display: flex;
  gap: 50px;
  background-image: linear-gradient(
    to right,
    rgb(255, 167, 38, 0.2),
    rgb(255, 167, 139, 0.1),
    rgb(255, 193, 216, 0.1),
    rgb(255, 227, 255, 0.1),
    rgb(255, 255, 255, 0.1),
    rgb(255, 167, 38, 0.2)
  );
}

.store-introduction {
  font-size: 20px;
  line-height: 35px;
  word-spacing: 5px;
  margin-top: 50px;
  width: 60vw;
}

@media screen and (max-width: 768px) {
  .store-page {
    display: block;
  }

  .store-introduction {
    width: 100vw;
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    margin-bottom: 200px;
  }
}
