/* General styling for the checkout container */
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 600px;
}

/* Styling for the individual product items */
.checkout-products {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.checkout-products img {
  width: 100px;
  margin-right: 10px; /* Separate image from the text */
  border-radius: 5px;
}

/* Styling for product details */
.checkout-details {
  display: flex;
  flex-direction: column;
}

.checkout-name,
.checkout-price,
.checkout-taste {
  margin-bottom: 5px;
}

/* Styling for the quantity buttons */
.checkout-quantity,
.checkout-increase,
.checkout-decrease,
.checkout-remove-item {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  margin: 0;
  font-size: 16px;
  border-radius: 5px;
}

.checkout-quantity {
  cursor: text;
  padding: 5px 10px 5px 0;
}

.checkout-increase {
  background-color: #4caf50;
  color: white;
}

.checkout-decrease {
  background-color: #f44336;
  color: white;
}

.checkout-remove-item {
  color: #212529;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 5px;
}

.checkout-container {
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 40px;
}

.final-price {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.checkout-purchase {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #212529;
  background: #ffb951;
  font-weight: 700;
  margin: 10px 0 0 10px;
  display: inline-block;
}

.checkout-purchase:hover {
  animation: changePurchaseButton 0.2s forwards;
}

@keyframes changePurchaseButton {
  from {
    color: #212529;
    background: #ffb951;
  }
  to {
    background: #212529;
    color: #f1f3f5;
  }
}
