.store-introduction {
  font-size: 20px;
  line-height: 35px;
  word-spacing: 5px;
  margin-top: 50px;
}

.store-single-product-introduction {
  font-size: 18px;
  width: 80%;
  margin: 50px 0;
}

.products {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  width: 100%;
}

.product-container {
  display: flex;
}

.products img {
  width: 100px;
}
